<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>Daijirin</string>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>return URL Scheme : except Safari, Maps and iBooks.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.booleanmagic.ActionMenu</string>
			<key>key</key>
			<string>AMPluginEnabled-Daijirin</string>
			<key>label</key>
			<string>Enabled</string>
			<key>PostNotification</key>
			<string>com.booleanmagic.ActionMenu.settingschange</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>jp.r-plus.amdaijirin</string>
			<key>key</key>
			<string>Enabled</string>
			<key>label</key>
			<string>return URL Scheme</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>jp.r-plus.amdaijirin</string>
			<key>key</key>
			<string>DaijirinEnabled</string>
			<key>label</key>
			<string>Daijirin</string>
			<key>icon</key>
			<key>Daijirin.png</key>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>jp.r-plus.amdaijirin</string>
			<key>key</key>
			<string>DaijisenEnabled</string>
			<key>label</key>
			<string>Daijisen</string>
			<key>icon</key>
			<key>Daijisen.png</key>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>jp.r-plus.amdaijirin</string>
			<key>key</key>
			<string>WisdomEnabled</string>
			<key>label</key>
			<string>Wisdom</string>
			<key>icon</key>
			<key>Wisdom.png</key>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>jp.r-plus.amdaijirin</string>
			<key>key</key>
			<string>EOWEnabled</string>
			<key>label</key>
			<string>EOW</string>
			<key>icon</key>
			<key>EOW.png</key>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>jp.r-plus.amdaijirin</string>
			<key>key</key>
			<string>SafariEnabled</string>
			<key>label</key>
			<string>Safari</string>
			<key>icon</key>
			<key>Safari.png</key>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>2</integer>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>SheetStyle</string>
			<key>label</key>
			<string>Style</string>
			<key>validTitles</key>
			<array>
				<string>UIActionSheet(Default)</string>
				<string>UIActionSheet(BlackTranslucent)</string>
				<string>UIActionSheet(BlackOpaque)</string>
				<string>UIAlertView</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
			</array>
			<key>defaults</key>
			<string>jp.r-plus.amdaijirin</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>isStaticText</key>
			<string>true</string>
			<key>requiredCapabilities</key>
			<array>
				<dict>
					<key>wildcat</key>
					<false/>
					<key>voip</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSTitleValueCell</string>
			<key>label</key>
			<string>return URL Scheme : except Safari, Maps and iBooks.</string>
			<key>requiredCapabilities</key>
			<array>
				<dict>
					<key>wildcat</key>
					<false/>
					<key>voip</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Licensed under 2-clause BSD license.</string>
		</dict>
		<dict>
			<key>action</key>
			<string>github:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>github (Open Safari)</string>
		</dict>
	</array>
</dict>
</plist>
