<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>Daijirin</string>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>return URL Scheme : except Safari, Maps and iBooks.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.booleanmagic.ActionMenu</string>
			<key>key</key>
			<string>AMPluginEnabled-Daijirin</string>
			<key>label</key>
			<string>Enabled</string>
			<key>PostNotification</key>
			<string>com.booleanmagic.ActionMenu.settingschange</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>jp.r-plus.amdaijirin</string>
			<key>key</key>
			<string>DaijirinEnabled</string>
			<key>label</key>
			<string>Daijirin</string>
			<key>icon</key>
			<key>Daijirin.png</key>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>jp.r-plus.amdaijirin</string>
			<key>key</key>
			<string>DaijisenEnabled</string>
			<key>label</key>
			<string>Daijisen</string>
			<key>icon</key>
			<key>Daijisen.png</key>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>jp.r-plus.amdaijirin</string>
			<key>key</key>
			<string>KojienEnabled</string>
			<key>label</key>
			<string>Kojien</string>
			<key>icon</key>
			<key>Kojien.png</key>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>jp.r-plus.amdaijirin</string>
			<key>key</key>
			<string>WisdomEnabled</string>
			<key>label</key>
			<string>Wisdom</string>
			<key>icon</key>
			<key>Wisdom.png</key>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>jp.r-plus.amdaijirin</string>
			<key>key</key>
			<string>EOWEnabled</string>
			<key>label</key>
			<string>EOW</string>
			<key>icon</key>
			<key>EOW.png</key>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>jp.r-plus.amdaijirin</string>
			<key>key</key>
			<string>EBPocketEnabled</string>
			<key>label</key>
			<string>EBPocket</string>
			<key>icon</key>
			<key>EBPocket.png</key>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>jp.r-plus.amdaijirin</string>
			<key>key</key>
			<string>GuruDicEnabled</string>
			<key>label</key>
			<string>GuruDic</string>
			<key>icon</key>
			<key>Gurudic.png</key>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>jp.r-plus.amdaijirin</string>
			<key>key</key>
			<string>MidoriEnabled</string>
			<key>label</key>
			<string>MidoriDictionary</string>
			<key>icon</key>
			<key>Midori.png</key>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>jp.r-plus.amdaijirin</string>
			<key>key</key>
			<string>PocketProgressiveEJEnabled</string>
			<key>label</key>
			<string>PocketProg.EJ</string>
			<key>icon</key>
			<key>PocketProgressiveEJ.png</key>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>jp.r-plus.amdaijirin</string>
			<key>key</key>
			<string>ProgressiveEEnabled</string>
			<key>label</key>
			<string>ProgressiveE</string>
			<key>icon</key>
			<key>ProgressiveE.png</key>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>jp.r-plus.amdaijirin</string>
			<key>key</key>
			<string>COBUILDEEJEnabled</string>
			<key>label</key>
			<string>CoBuildEEJ</string>
			<key>icon</key>
			<key>CoBuildEEJ.png</key>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>jp.r-plus.amdaijirin</string>
			<key>key</key>
			<string>COBUILDEEEnabled</string>
			<key>label</key>
			<string>CoBuildEE</string>
			<key>icon</key>
			<key>CoBuildEE.png</key>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>jp.r-plus.amdaijirin</string>
			<key>key</key>
			<string>LongmanEJEnabled</string>
			<key>label</key>
			<string>LongmanEJ</string>
			<key>icon</key>
			<key>LongmanEJ.png</key>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>jp.r-plus.amdaijirin</string>
			<key>key</key>
			<string>LongmanEEEnabled</string>
			<key>label</key>
			<string>LongmanEE</string>
			<key>icon</key>
			<key>LongmanEE.png</key>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>jp.r-plus.amdaijirin</string>
			<key>key</key>
			<string>DictionarycomEnabled</string>
			<key>label</key>
			<string>Dictionary.com</string>
			<key>icon</key>
			<key>Dictionary.com.png</key>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>jp.r-plus.amdaijirin</string>
			<key>key</key>
			<string>KotobaEnabled</string>
			<key>label</key>
			<string>Kotoba!</string>
			<key>icon</key>
			<key>Kotoba.png</key>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>jp.r-plus.amdaijirin</string>
			<key>key</key>
			<string>KadokawaRuigoEnabled</string>
			<key>label</key>
			<string>Ruigo</string>
			<key>icon</key>
			<key>Ruigo.png</key>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>jp.r-plus.amdaijirin</string>
			<key>key</key>
			<string>ALCEnabled</string>
			<key>label</key>
			<string>ALC[origin word]</string>
			<key>icon</key>
			<key>Safari.png</key>
			<key>set</key>
			<string>setMasterToggle:specifier:</string>
			<key>id</key>
			<string>ALCEnabledID</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>jp.r-plus.amdaijirin</string>
			<key>key</key>
			<string>ALCMobilizerEnabled</string>
			<key>label</key>
			<string>Mobilizer(ALC only)</string>
			<key>enabled</key>
			<false/>
			<key>id</key>
			<string>SlaveToggle</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>jp.r-plus.amdaijirin</string>
			<key>key</key>
			<string>ExciteEnabled</string>
			<key>label</key>
			<string>ExciteTranslate</string>
			<key>icon</key>
			<key>Excite.png</key>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>jp.r-plus.amdaijirin</string>
			<key>key</key>
			<string>GoogleTranslateEnabled</string>
			<key>label</key>
			<string>GoogleTranslate</string>
			<key>icon</key>
			<key>Google.png</key>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>jp.r-plus.amdaijirin</string>
			<key>key</key>
			<string>FastEverEnabled</string>
			<key>label</key>
			<string>FastEver(XL)</string>
			<key>icon</key>
			<key>FastEver.png</key>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>jp.r-plus.amdaijirin</string>
			<key>key</key>
			<string>SafariEnabled</string>
			<key>label</key>
			<string>Safari</string>
			<key>icon</key>
			<key>Safari.png</key>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>2</integer>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>SheetStyle</string>
			<key>label</key>
			<string>Style</string>
			<key>validTitles</key>
			<array>
				<string>UIActionSheet(Default)</string>
				<string>UIActionSheet(BlackOpaque)</string>
				<string>UIActionSheet(BlackTranslucent)</string>
				<string>UIAlertView</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
			</array>
			<key>defaults</key>
			<string>jp.r-plus.amdaijirin</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>isStaticText</key>
			<string>true</string>
			<key>requiredCapabilities</key>
			<array>
				<dict>
					<key>wildcat</key>
					<false/>
					<key>voip</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSTitleValueCell</string>
			<key>label</key>
			<string>return URL Scheme : except Safari, Maps and iBooks.</string>
			<key>requiredCapabilities</key>
			<array>
				<dict>
					<key>wildcat</key>
					<false/>
					<key>voip</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Licensed under 2-clause BSD license.</string>
		</dict>
		<dict>
			<key>action</key>
			<string>github:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>github (Open Safari)</string>
		</dict>
	</array>
</dict>
</plist>
