Package: jp.r-plus.actionmenudaijirin
Name: Daijirin ActionMenu Plugin
Version: 1.0
Architecture: iphoneos-arm
Description: Send text to DAIJIRIN.app(App Store) and more.
Homepage:
Depiction:
Maintainer: BigBoss <bigboss@thebigboss.org>
Author: r_plus <anasthasia.r@gmail.com>
Section: App Addons
dev: rplus
Depends: actionmenu, mobilesubstrate
Conflicts: jp.r-plus.amdaijirin