Homepage: http://moreinfo.thebigboss.org/moreinfo/depiction.php?file=actionmenudaijirinData
Depiction: http://moreinfo.thebigboss.org/moreinfo/depiction.php?file=actionmenudaijirinData
Author: r_plus <anasthasia.r@gmail.com>
Maintainer: BigBoss <bigboss@thebigboss.org>
Name: Daijirin ActionMenu Plugin
Package: jp.r-plus.actionmenudaijirin
Depends: actionmenu, mobilesubstrate
Conflicts: jp.r-plus.amdaijirin
Section: App Addons
Version: 1.2.1
Architecture: iphoneos-arm
Description: send text to DAIJIRIN dictionary app
dev: rplus